*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yuji-mai-regular {
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
  }

 @font-face {
    font-family: "Yuji Mai";
    src: url("..fonts/YujiMai-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
 } 

h1 {
    color:rgb(255, 255, 255);
    margin-bottom: 20px;
    text-align: center;
}

.image1{
    max-width: 400px;
    max-height: 400px;
}


.greeting{
    padding-bottom: 20px;
    padding: 0 0 20px 0;

}

body {
    font-family: "Yuji Mai";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;

    background-image: url('../images/wall2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 1200px;
    width: 100%;
}
.header{
    background-color: rgba(51, 50, 50, 0.623);
    color: #fff;

    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2rem;

}

.footer{
    background-color: rgba(51, 50, 50, 0.623);
    color: #fff;

    display: block;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    width: 100%;
}

section{
    background-color: rgba(51, 50, 50, 0.623);
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    margin: 100px 0 100px 0 ;

}


.header .nav a{
    color: #fff;
    text-decoration: none;
}


@media (max-width: 768px) {

    section{
        width: 400px;
        display: block;
        align-items: center;
        gap: 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100vh;

        overflow: hidden;
    }
}