*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    color:blueviolet
}

.image1{
    width: 400px;
    height: 400px;
}




body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-image: url('./src/images/lamp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}



.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}

.header{
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2rem;

}

.footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}



.header .nav a{
    color: #fff;
    text-decoration: none;
}